.stories-banner{
    padding: 100px 0px;
}
.stories-banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.stories-banner-content h2{
    font-size: 22px;
    font-family: var(--font-manrope);
    font-weight: 600;
    color: var(--color-dark);
    padding-bottom: 15px;
}
.stories-banner-highlight{
    font-family: var(--font-moralana);
    font-weight: 500;
}
.stories-banner-content h3{
    font-size: 45px;
    font-family: var(--font-manrope);
    font-weight: 500;
    width: 45%;
    line-height: 55px;
    text-transform: capitalize;
    padding-bottom: 30px;
}
.explore-button{
    font-size: 17px;
    font-weight: 600;
    color: var(--color-dark);
    font-family: var(--font-manrope);
    padding-bottom: 3px;
    transition: all 0.3s ease;
    padding: 12px 30px;
    background-color: var(--color-yellow);
    border-radius: 30px;
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}
.explore-button span{
    font-size: 20px;
}